.testLink{
	margin-top:2em;
	text-indent: 50px;
}


.popUpContainer{
	width: 300px;
	height: 150px;
	background:lightblue;
}

.internetContainer{
	height: 60px;
	vertical-align: middle;
	text-align: center;
}

.gamePageContainer{
	text-align: center;
}
