.testLink{
	margin-top:2em;
	text-indent: 50px;
}


.popUpContainer{
	width: 300px;
	height: 150px;
	background:lightblue;
}

.internetContainer{
	height: 60px;
	vertical-align: middle;
	text-align: center;
}

.gamePageContainer{
	text-align: center;
	padding-bottom: 10px;
}

/*div.menuContainer{
	content:url('images/popupDescriber.png');
	height: 120px;
	width: 60px;
	vertical-align: middle;
	text-align: center;
	background-image:url('images/popupDescriber.png');
}*/


.menuContainer{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 35px;
	margin-right: 35px;
	height: 60px;
	width: 230px;
	vertical-align: middle;
	/*text-align: center;*/
}