.container {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.icon_container {
	margin-top: 5em;
	height: 100px;
}

h2 {
	font-family: Impact, sans-serif;
	font-size: 1.7em;
}

.icon{
	display: block;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
}